{% extends "RizewayWanchourBundle:Distribution:base.html.twig" %}

{% block submenu %}
    {% include "RizewayWanchourBundle:Distribution:menu.html.twig"  %}
{% endblock %}
    
{% block body %}
    
    <ul class="breadcrumb">
      <li><a href="{{ path('distribution_list') }}">Distributions</a> <span class="divider">/</span></li>
      <li><a href="{{ path('distribution_edit', {'id': distribution.id}) }}">Distribution {{ distribution.name }}</a> <span class="divider">/</span></li>
      <li class="active">Edit</li>
    </ul>

    {% include "RizewayWanchourBundle:Utils:flash_message.html.twig" %}

    <div class="bloc">
        
        <div class="bloc-header"> 
             <h2 class="bloc-title">Editer this distribution</h2>
             <div class="bloc-line"></div>
        </div>

        <div class="bloc-content">
            {% include "RizewayWanchourBundle:Distribution:_form.html.twig" with {'route': 'distribution_edit', 'route_options': {'id': distribution.id} } %}
        </div>
    </div>

{% endblock %}