<nav id="submenu">
    <a {{ current is defined and current == 'home' ? 'class="active"' : '' }} href="{{ path('distribution_list') }}">Distribution list</a>
    <a {{ current is defined and current == 'new' ? 'class="active"' : '' }} href="{{ path('distribution_new') }}">New Distribution</a>
</div>