<div id="loading">
    <div class="loading">
        <img src="{{ asset('bundles/rizewaywanchour/images/ajax-loader.gif') }}" />
    </div>
</div>

<script>
    RizewayLoader.initLoading($('#loading'));
</script>