{% extends "RizewayWanchourBundle:Repository:base.html.twig" %}

{% block submenu %}
    {% include "RizewayWanchourBundle:Repository:menu.html.twig"  %}
{% endblock %}
    
{% block body %}
    
    <ul class="breadcrumb">
      <li><a href="{{ path('repository_list') }}">Repositories</a> <span class="divider">/</span></li>
      <li><a href="{{ path('repository_show', {'id': repository.id}) }}">Repository {{ repository.name }}</a> <span class="divider">/</span></li>
      <li class="active">Edit</li>
    </ul>

    {% include "RizewayWanchourBundle:Utils:flash_message.html.twig" %}

    <div class="bloc">
        
        <div class="bloc-header"> 
             <h2 class="bloc-title">Editer this repository</h2>
             <div class="bloc-line"></div>
        </div>

        <div class="bloc-content">
            {% include "RizewayWanchourBundle:Repository:_form.html.twig" with {'route': 'repository_edit', 'route_options': {'id': repository.id} } %}
        </div>
    </div>

{% endblock %}