<div id="menu">
   <a href="{{ path('repository_index') }}" alt="Repositories" class="bouton-menu {{ current is defined and current == 'repositories' ? 'active' : '' }}">Repositories</a>
   <a href="{{ path('distribution_index') }}" alt="Distributions" class="bouton-menu {{ current is defined and current == 'distributions' ? 'active' : '' }}">Distributions</a>
</div>